@model IEnumerable<MyFirstWebApplication.Models.ItemModel>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			@*<th>
			@Html.DisplayNameFor(model => model.Id)
			</th>*@
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Price)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				@*<td>
			@Html.DisplayFor(modelItem => item.Id)
			</td>*@
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Price)
				</td>
				<td>
					@*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
					@Html.ActionLink("Edit", "Edit", new {id=item.Id}) |
					@*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
					@Html.ActionLink("Details", "Details", new {id=item.Id}) |
					@*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
					@Html.ActionLink("Delete", "Delete", new {id=item.Id})
				</td>
			</tr>
		}
	</tbody>
</table>
<div class="container d-flex flex-wrap">
	<div class="container marketing">
		<div class="row">
			@foreach (var item in Model)
			{
				<div class="col-lg-4 mx-auto">
					<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
						<title>Placeholder</title>
						<rect width="100%" height="100%" fill="#777" />
						<text x="50%" y="50%" fill="#777" dy=".3em">
							@*140x140*@
						</text>
					</svg>
					<h2>@item.Name</h2>
					<h3>@Html.DisplayFor(i => item.Price)</h3>
					@*<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>*@
					<p><a class="btn btn-secondary" href="https://getbootstrap-com.translate.goog/docs/4.3/examples/carousel/?_x_tr_sl=auto&amp;_x_tr_tl=ru&amp;_x_tr_hl=ru&amp;_x_tr_pto=op,wapp#" role="button">View details »</a></p>
					<input type="button" class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Details" value="View details »">
				</div>
			}
		</div>
	</div>
</div>